body {
    background-color: lightgrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 13px; /* Да-да, в старом ВК всё было довольно мелким! */

}


.post {
    background-color: papayawhip;
    border-radius: 10px;
    max-width: 600px;
    margin: 15px auto;
    border: 1px solid #dae1e8;

    /* ВОТ ЭТО ВЕРНИ ОБЯЗАТЕЛЬНО: */
    padding: 20px;
}


.postmain {
    font-size: 30px;
    margin: 3px;
    padding: 1px;
}

.vkontakte-main-text {
    font-size: 300%;
    background-color: #ADADAD;
    /*text-align: center;*/
    /*width: 100vw;*/
    padding: 10px 0;
    padding-left: 10px;
    color: white;
}

.postfooter {
    display: flex;
}

button {
    border-radius: 5px;
    font-size: 20px;
}

.vkontakte-main-text-B {
    background-color: #45679e;
    color: #ffffff;
    padding: 0px 8px;
    border-radius: 10px;
    margin-right: 5px;
}

.createPostName {
    width: 98.5%;
    height: 20px;
    border-radius: 9px;
    padding: 10px;
}

.createPostText {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    padding: 10px;
}

.createPostPassword {
    width: 10%;
    height: 10px;
    border-radius: 5px;
    padding: 10px;
}

.createPostButton {
    background-color: #45679e;
    color: white;
}

.vk-button {
    display: inline-block;
    background-color: #edeef0;
    border: 1px solid #adb9c7;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none; /* Убирает подчеркивание */
    color: #2b587a; /* Цвет текста как в ВК */
    font-size: 13px;
}
.vk-button:hover {
    background-color: #dae1e8; /* Эффект наведения */
}
