body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


.post {
    background-color: papayawhip;
    margin: 30px;
    padding: 10px;
    /*border-radius: 10px;*/
}

.postmain {
    font-size: 30px;
    margin: 3px;
    padding: 1px;
}


.postfooter {
    display: flex;
}

button {
    border-radius: 30px;
    font-size: 11px;
    color: white;
    padding: 5px;
    /*height: 30px;*/
    /*width: 50px;*/
    border-color: white;
    background-color: #5f97ff;
}
